<h1> Gust Releases </h1>
<section ng-repeat="release in releaseCtrl.releases">
  <h2> Released At {{ release[0].releaseCreatedAt | date:'dd/MM/yy hh:mm' }} </h2>
  <table>
    <th>
      <td> Story Type </td>
      <td> Story Title </td>
      <td> Developer(s) </td>
    </th>
    <tr ng-repeat="story in release.stories">
      <td>
         {{ story.type }}
      </td>

      <td>
         {{ story.title }}
      </td>

      <td>
         {{ story.owners.join(", ") }}
      </td>
    </tr>
  </table>
</section>
